/*section1*/
#deportes-resumen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    transition: 1s;
}

#box-section-header {
    width: 30%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    padding: 5px;
}

#box-section-header > div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#box-section-header>div>h2 {
    font-size: 8em;
    margin: 10px;
    font-weight: 600;
    color: white;
    transition: 6s ease-in-out;
}

#box-section-header>div>p {
    font-size: 1.3em;
    text-align: left;
    margin-left: 15px;
    color: black;
}

#box-section-header>img {
    width: 50%;
    opacity: 0;
}

/*con hover*/
#box-section-header:hover {
    background-image: linear-gradient(to right, black, white, white);
}

#box-section-header:hover>div>h2 {
    color: black;
    font-size: 4em;
    transition: 1s;
}

#box-section-header:hover>img {
    width: 50%;
    opacity: 1;
    transition: 1s;
}

#box-section-header + section {
    background-color: rgb(0, 0, 0);
}

#box-section-header + section>div {
    color: black;
}

#box-section-header:hover + section>div {
    color: black;
}

#no-morado {
    color: black;
    transition: 1s;
}

#box-section-header:hover + section {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: black;
    margin-left: -10px;
    transition: 1s;
}

#box-section-header + section:hover {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    margin-left: -10px;
    transition: 1s;
}
/*fin section1*/

video {
    width: 100%;
}

.niveles-video {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 30px;
}

.niveles-video>form>div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.niveles-video>form>div>h2 {
    font-size: 3em;
    margin: 3%;
}

.niveles-video>form>div>div {
    height: 1px;
    width: 31%;
    background-color: white;
}

.niveles-video {
    display: flex;
    justify-content: space-around;
}

.button-lv {
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    background-color: black;
}

.button-lv:hover {
    color: black;
    border-radius: 10px;
    background-color: white;
}

.container-cards {
    display: flex;
    justify-content:space-around ;
    flex-wrap: wrap;
    width: 100%;
    padding: 5px;
}

.card {
    width: 30%;
    padding: 6px;
    margin: 1%;
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.4);
    transition: 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:hover{
    box-shadow: 0px 0px 10px 15px rgba(255, 255, 255, 0.4);
    width: 31%;
    transition: 2s;
}

.card>h3 {
    font-size: 1.5em
}

