/*global*/
*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: black;
    color: white;
}


b {
    font-weight: 900
}

a {
    text-decoration: none;
}

.none {
    display: none;
}

/*FIN global*/

/*header*/
header {
    background: linear-gradient(to bottom, #000000, #000000, #191919);
    background-size: cover;
    overflow: hidden;
    border-radius: 0 0 85% 85% / 40%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

header>div {
    margin-right: 50px;
}

h1 {
    font-size: 4em;
    text-align: center;
    font-weight: 100;
    color: white;
}

.link-nav {
    color: white;
}

li {
    list-style: none;
    display: flex;
    float: left;
    margin-right: 50px;
    font-size: 18px;
}

.first-option-dropdown {
    margin-top: 10px;
}

img#user-image {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    filter: grayscale(100%);
}

/*menu desplegable deportes*/
.dropdown {
    display: inline-block;
}

.button-dropdown {
    color: white;
    background-color: #000000;
    border: none;
}

.button-dropdown:hover {
    background-color: #151515;
}

.dropdown-content {
    z-index: 1;
    display: none;
    position: absolute;
    width: auto;
    overflow: auto;
    color: white;
    background-color: #000000;
    font-size: 14px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
}

.dropdown-content a:hover {
    background-color: #5d677a;
}

/*FIN menu desplegable deportes*/
/*FIN header*/

/*footer*/
footer {
    background-color: rgb(255, 255, 255);
}

footer>div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#box-title {
    padding: 0px;
    display: inline-block;
    border-bottom: black solid 1px;
    margin-left: 40%;
    margin-right: 40%;
}

#box-title>h3 {
    color: black;
    font-size: 7vh;
    font-weight: 100;
    margin-bottom: 10px;
}

#box-icons {
    margin-top: 15px;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
}

.social-icon {
    width: 40px;
}

#web-info {
    background-color: #cacaca;
    color: black;
    padding: 5px;
    padding-left: 15px;
    display: flex;
    text-align: left;
}

/*FIN footer*/