#card-avanzado, #card-intermedio, #card-principiante{
    display: none;
}

article {
    padding-left: 20px;
    padding-right: 20px;
    height: 90vh;
}

/*index article 1*/
#box-section-header {
    border: solid black 1px;
    width: 45%;
    padding-left: 30px;
    padding-right: 30px;
    background-color: black;
}

#article1 {
    border: solid black 1px;
    padding-bottom: 10%;
    padding-top: 0px;
    background-color: black;
    display: flex;
    justify-content: space-around;
}

#article1>section {
    width: 48%;
}

#article1>section>img{
    width: 100%;
}

h3 {
    font-size: 40px;
}

#box-section-header>p {
    font-size: 20px;
}

/*fin article 1*/
/*article 2*/
#flex-container-index {
    display: flex;
    justify-content: space-around;
}

#article2 {
    justify-content: center;
    align-items: center;
}

/*sin hover*/
.card-dificultad {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    overflow: hidden;
    padding: 15px;
    transition: 1s;
}

.card-dificultad>span {
    margin: 10px;
    font-size: 30px;
    font-weight: 600;
    transition: 1s;
    color: white;
}

.card-dificultad>p {
    font-size: 1.2em;
    text-align: center;
    color: black;
    transition: 1s;
}

.card-dificultad>img {
    width: 100%;
    opacity: 0;
    transition: 1s;
}
/*con hover*/
.card-dificultad:hover {
    background-color: white;
    transition: 1s;
}

.card-dificultad:hover>span {
    color: black;
    transition: 1s;
}

.card-dificultad:hover>img {
    width: 100%;
    opacity: 1;
    transition: 1s;
}

/*fin article 2*/

/*article 3*/
#article3>h2{
    font-size: 4em;
    text-align: center;
}

#container-article-3 {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 90vh;
}

.box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 0.5%;
    box-shadow: 0 20px 30px rgba(0, 0, 0, .1);
    position: relative;
}
 
.descripcion {
    position: absolute;
    bottom: 25%;
    margin-left: 25%;
    padding: 10px;
    box-shadow: 0 0 60px 30px;
    background-color: rgba(255, 255, 255, 0.913);
    height: auto;
    width: 50%;
    color: black;
    filter: opacity(0);
    transition: 0.3s;
    font-size: 1.2em;
}

.box:hover>.descripcion {
    filter: opacity(1);
    transition: 2.5s ease-in-out;
}

.box>.img-article3 {
    width: 200%;
    height: calc(100% - 10vh);
    object-fit: cover;
    transition: .5s;
    filter: grayscale(100%)
}

.box>span {
    font-size: 3.8vh;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
}

.box:hover {
    flex: 1 1 50%;
}

.box:hover>.img-article3 {
    width: 100%;
    height: 100%;
    filter: grayscale(0%)
}
/*fin article 3*/

/*article 4*/
#article4 {
    margin-top: 300px;
    display: flex;
    justify-content: space-around;
}

#article4>section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    padding: 20px;
}

#article4>section>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 30px;
    border-bottom: 1px rgb(255, 255, 255) solid;
    width: 40%;
}

#article4>section>div>span {
    font-size: 1.5em
}

#article4>section>img {
    width: 100%;
}

.negrita {
    font-weight: 900;
}
/*fin article 4*/

/* Estilos para dispositivos móviles */

@media screen and (max-width: 768px) {
  /* Estilos para el artículo 1 */
  
  #article1 {
    flex-direction: column;
  }

  #article1>section {
    width: 100%;
    margin-bottom: 20px;
  }
  
  /* Estilos para el artículo 2 */
  
  #flex-container-index {
    flex-wrap: wrap;
  }
  
  .card-dificultad {
    width: 100%;
    margin-bottom: 20px;
  }
  
  /* Estilos para el artículo 3 */
  
  #container-article-3 {
    flex-wrap: wrap;
    height: auto;
  }
  
  .box {
    flex: 1 1 100%;
    margin: 10px 0;
  }
  
  .descripcion {
    width: 100%;
    margin-left: 0;
  }
  
  /* Estilos para el artículo 4 */
  
  #article4 {
    flex-wrap: wrap;
  }
  
  #article4>section {
    width: 100%;
    margin-bottom: 20px;
  }
  
  #article4>section>div {
    width: 80%;
  }
}