main {
	display: flex;
	justify-content: center;
	align-items: center;
}

#container {
	margin: 20px;
	width: auto;
	height: 550px;
	background: red;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
	background: linear-gradient(to bottom, #2c3039, #6c788e, #586273);
}

#chk {
	display: none;
}

.signup {
	position: relative;
	width: 100%;
	height: 100%;
}

label {
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 30px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}

.div-form {
	display: flex;
	justify-content: space-around;

}

input {
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 10px;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
	border: rgb(92, 92, 92) solid 1px;
}

button {
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #2c3039;
	font-size: 1em;
	font-weight: bold;
	margin-top: 10px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}

button:hover {
	background: #6d44b8;
}

.login {
	height: 530px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-120px);
	transition: .8s ease-in-out;
}

.login label {
	color: #2c3039;
	transform: scale(.6);
}

#chk:checked~.login {
	transform: translateY(-530px);
}

#chk:checked~.login label {
	transform: scale(1);
}

#chk:checked~.signup label {
	transform: scale(.6);
}

.invalid {
	border: red 1px solid;
}

/*perfil*/
#perfil-user-image {
	height: 100px;
	width: 100px;
	border-radius: 100%;
}

section.login-signup {
	display: flex;
	height: 100px;
}

section.login-login {
	transform: translateY(50px);
	height: 470px;
	border-radius: 90% / 20%;
	display: flex;
	justify-content: space-around;
	padding-top: 40px;
}

div#niveles {
	display: flex;
	flex-direction: column;
}

div#linea{
	height: auto;
	border: solid 1px black;
}

/*
div#hola {
	background-image: url(../../resources/fondos/bocadillo.png);
	width: auto;
	height: 40px;
}
*/